{% include 'navbar.html' %}



<main>

    <div class='container'>
        <div class='row'>
            <div class='col-8 ml-5'>
                <form action="/" method="post">

                    <div class="form-group">
                        <label for="para">Paragraphs</label>
                        <textarea class="form-control" rows="9" cols="60" name="para" id="para"></textarea>

                    </div>
                    <div class="form-group">
                        <label for="key">Key</label>
                        <input type="text" id="key" name="key">
                    </div>


                    <input class='align-center' type="submit">
                </form>
                <button class="btn1 mt-3">Reset</button>
            </div>
        </div>
    </div>
</main>
<script>
    document.querySelector('.btn1').addEventListener('click', reset);
    function reset() {
        document.querySelector('#para').value = ""
        document.querySelector('#key').value = ""


    }
</script>
{% include 'footer.html' %}